/*

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

*/


nav ul {
    padding: 20px;
    font-weight: bold;
}

nav ul li {
    display: inline;
}

body {
    font-family: 'Roboto', 'Source Sans Pro', 'PT Serif', Sans-Serif;
}
