
/* Bar graph settings ----------------------------------------------------*/

.chart div {
   background-color: #69b3a2;
   text-align: right;
   margin: 10px;
   padding-top: 5px;   
   padding-bottom: 5px;
   padding-right: 2px;
  color: black;
}


.axis path, .axis line {
  }
.tick text {
    font-size: 1.3em;
    font-family: 'Roboto', 'Source Sans Pro', 'PT Serif', Sans-Serif;    
  }
rect {
    fill: #69b3a2;
  }
rect:hover {
    fill: #79c3b2;
  }



/* Slider settings ----------------------------------------------------*/

.slidercontainer {
    margin: auto;
    max-width: 600px;
}

/* The slider itself */
.slider {
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    width: 100%;
    margin: auto;
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #69b3a2; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* Link settings ----------------------------------------------------*/

a {
    text-decoration: none;
    color: #888;
}
a:hover {
    color: #333;
}

h1 a {
    color: #333;
}


h1 a:hover {
    color: #888;
}


/* Source settings ----------------------------------------------------*/

.source {
    color: #333;
    font-size: 0.8em;
}

.source a {
    color: #888;
}

.source a:hover {
    color: #333;
}


.sourceButton {
    cursor:pointer;  
}

.sourceText {
  
  
}





/* Font and style settings ----------------------------------------------------*/

html {
    max-width: 90%;
    margin: auto;
}

body {
    font-family: 'Roboto', 'Source Sans Pro', 'PT Serif', Sans-Serif;    
    max-width: 960px;
    margin: auto;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

h1 {     
    font-family: 'PT Serif', Serif;
    font-size: 2em;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.excerpt {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom:20px;
}

.media {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  background-color: #fff;
}

.post {
  background-color: #f9f9f9;
  padding: 20px;
}

#disqus_thread {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.date-format {
    font-size: 0.8em;
}

/* Title settings ----------------------------------------------------*/

.site-header {
    color: #333;
    margin-top: 20px;    
    margin-bottom: 20px;
    display: flex;
    flexwrap: wrap;
}

.site-header div {    
    flex: 1 1 0;
}

.site-header-title {   
    font-family: 'PT Serif', Serif; 
    font-size: 1.8em;
}

.site-header-nav {
    text-align: right;
    font-size: 1em;
}

.site-header-nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Page navigation settings ----------------------------------------------------*/

.post-nav {
    margin-top: 20px;    
    margin-bottom: 20px;
    display: flex;
    flexwrap: wrap;
}
.post-nav div {
    /* flex-grow, flex-shrink, flex-basis */
    flex: 1 1 0;
    width: 45%;
}
.post-nav-next {
    text-align: right;
}
