a {
    text-decoration: none;
    color: #888;
}
a:hover {
    color: #000;
}

nav ul {
    padding: 20px;
}

nav ul li {
    font-weight: bold;
    display: inline;
    margin-right: 20px;
}

body {
    font-family: 'Roboto', 'Source Sans Pro', 'PT Serif', Sans-Serif;    
	max-width: 900px;
}
