<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Source+Sans+Pro&display=swap" rel="stylesheet"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		
	<div class="site-title">
		
		<div>
			Overheard on Earth
		</div>
		
		<div class="site-title-nav">
		<ul>
       			<li><a href="/">Newest Post</a></li>
			<li><a href="{{ site.posts.last.url }}">Oldest Post</a></li>
       			<li><a href="/all-posts/index.html">All Posts</a></li>
		</ul>
		</div>
	</div>
	
	<h1>
		{{ page.title }}
	</h1>
		
	<div class="post-nav">
		<div>
			{% if page.previous.url %}
				<a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
  			{% endif %}
		</div>
		<div class="post-nav-next">
   			{% if page.next.url %}
  				<a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
   			{% endif %}
 		</div>
	</div>
		
		{{ content }}
		
		
	<div class="post-nav">
		<div>
			{% if page.previous.url %}
				<a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
  			{% endif %}
		</div>
		<div class="post-nav-next">
   			{% if page.next.url %}
  				<a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
   			{% endif %}
 		</div>
	</div>
		
		
	</body>		
</html>
